*{
    border: 0;
    margin: 0;
    padding: 0;
}
#navbar{
 background-color: black;
 padding: 0 ;
 margin: 0;
 display: flex;
 justify-content: space-evenly;
 
}
#one{
    font-size: 30px;
    color: aliceblue;
    color: coral;
    margin: 20px 0 20px 0;
    position: relative;
    top: -8px;

}
#two{
    
    color: aliceblue;
    margin: 20px 0 20px 0;
}
#three{
    
    color: aliceblue;
    margin: 20px 0 20px 0;
}

#four{
    border-color: black;
    margin: 20px 0 20px 0; 
    
}

#six{
    
    color: aliceblue;
    margin: 20px 0 20px 0;
}
#five{
    margin: 20px 0 20px 0;
}